@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! From Visual Studio checking in code to Github main branch :)</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
