@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! From Visual Studio checking in code to Github main branch :)</h1>

Welcome to your new app.

We added this new feature on branch "feature_123" and this branch will be merged back into master
using a "Pull Request".

<SurveyPrompt Title="How is Blazor working for you?" />
